*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/

aesRsaEncrypt/gradle/
aesRsaEncrypt/gradlew
aesRsaEncrypt/gradlew.bat
aesRsaEncrypt/local.properties
gradle.properties
gradle/
gradlew
gradlew.bat
